@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Opens Sans', sans-serif;
  text-decoration: none;
}
body {
  background-color: #1f6a53;
}
.container {
  display: flex; 
  justify-content: space-around;
  ;
  height: 100vh;
}

.image {
  align-self: center;
  margin-left: -2%;
  margin-top: -15%;
  
}

.image img {
  width: 600px;
}

.formulario {
  align-self: center;
  background-color: #252569;
  border-radius: 20px;
  box-shadow: 4px 6px 22px rgba(0, 0, 0, 0.7);
  height: 400px;
  margin-left: -5%;
  margin-top: -15%;
  padding: 30px 30px 40px 30px;
  width: 400px;
}

.form h1 {
  text-align: center;
  margin: 30px;
  color: white;
  font-size: 2.5em;
}

input:focus {
  outline: none;
}

.input-field {
  display: flex;
  flex-direction: column;
  
}

.input-field input {
  color: white;
  background: transparent; 
  width: 300px;
  font-size: 1.1em;
  padding: 7px;
  margin: 0px auto 0px auto;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 30px;

}

.input-field input::placeholder {
  color: white;

}

.buttons{
  margin: 10px 0px 30px 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

button {
  border: none;
  background-color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #91b5aa69;
  transition: .3s;
}

/* resposta do que o java script irar clocar  */
.paragrafo-resultado, .bad {
  width: 70%;
  margin: auto;
  text-align: center;
  background: rgb(109, 255, 182);
  padding: 10px 20px;
  border-radius: 10px;
  
}

.bad {
  background: rgb(255, 150, 150);
}

@media (max-width: 960px) {
  html{
    font-size: 80%;
  }
  .container {
    flex-direction: column;
  }
  .formulario {
    margin: auto;
    width: 300px;
  }

  .image img {
    margin-top: 40%;
    width: 200px;
  }

  .input-field input {
    color: white;
    background: transparent; 
    width: 200px;
  }
}

@media (max-width: 350px) {
  .formulario{
    width: 210px;
  }
  .input-field input {
    color: white;
    background: transparent; 
    width: 200px;
  }
}